NEXT_PUBLIC_DEFAULT_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SANITY_PROJECT_ID=your-project-id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-02-19

NEXT_PUBLIC_SANITY_PREVIEW_SECRET=your-preview-secret
SANITY_API_PREVIEW_TOKEN=your-preview-api-token

SANITY_REVALIDATE_SECRET=your-revalidate-secret
VERCEL_DEPLOY_HOOK_URL=your-vercel-deploy-hook-url

BETTERSTACK_API_KEY=your-betterstack-api-key

NEXT_PUBLIC_SEGMENT_WRITE_KEY=your-segment-key

WP_GRAPHQL_URL=your-wp-graphql-url
WP_HTACCESS_USERNAME=your-wp-htaccess-username
WP_HTACCESS_PASSWORD=your-wp-htaccess-password

NEXT_PUBLIC_HUBSPOT_FORM_PORTAL_ID=your-hubspot-form-portal-id
HUBSPOT_ACCESS_TOKEN=your-hubspot-access-token

NEXT_PUBLIC_MIXPANEL_TOKEN=your-mixpanel-token
