.reviews {
  & .slick-track {
    @apply !flex;
  }

  & .slick-slide {
    @apply float-none h-auto shrink-0 px-0 md:px-2 lg:px-2.5 xl:px-4;
  }

  & .slick-slide > div {
    @apply h-full;
  }

  & .slick-list {
    @apply md:-mx-2 lg:-mx-2.5 xl:-mx-4;
  }

  & .slick-slide > div {
    @apply px-2 md:px-0;
  }

  & .slick-slide a,
  & .slick-slide img,
  & .slick-slide * {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: auto;
  }

  & .slick-slide a {
    pointer-events: auto;
  }

  & .slick-list {
    cursor: grab;
  }

  & .slick-list:active {
    cursor: grabbing;
  }

  & .slick-dots {
    @apply -bottom-11 !flex items-center justify-center;

    li {
      @apply m-0;

      button {
        @apply relative flex justify-center before:relative before:h-2 before:w-2 before:rounded before:border before:border-gray-5 before:opacity-100 before:transition-colors before:duration-300 before:content-[''];
      }

      &.slick-active {
        button {
          @apply before:border-white before:bg-white;
        }
      }
    }
  }
}

// Other sections
